/* Global Styles */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

/* Main */

.main-container {
    display: flex;
    height: 100vh;
    
    background-color: rgb(189, 189, 189);
}

/*Left Side */

.left-container { 
    border: 1px solid black;
    background: white;
    padding: 20px;
    box-shadow:  2px 2px 10px rgba(0,0,0,0.2);
    width: 50%;
    margin: 25px;
}
.notepad {
    background: #ffd;  
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    
    position: relative;
    min-height: 100%;
    background-image: linear-gradient(#ffe 1px, transparent 1px);
    
}

.notepad h1 {
    font-size: 2rem;
    color: #333;
    text-align: center;
    border: 1px solid red;
    padding-top: 12px;
    padding-bottom: 12px;
}

.notes {
    max-width: 100%;
    min-width: 100%;
    min-height: 350px;
    max-height: 350px;
}

form {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    font-weight: bold;
    color: #444;
}

input, textarea, select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: rgba(255, 255, 255, .7);
}

button {
    padding: 10px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

/*Right Side */

.right-container {
    width: 50%;
    border: 1px solid green;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 25px;
    align-content: flex-start;
}